:root {
    --background-color: rgb(5, 10, 24);
    --border-color: rgb(255, 255, 255, 0.1);
    --highlight-color: rgb(24, 47, 76);
}
@font-face { 
  font-family: "Mandator";
  font-display: swap;
  font-weight: 400;
  /* Add other properties here, as needed. For example: */
  /*
  font-weight: 100 900;
  font-style: normal italic;
  */
  src: url(data:application/font-woff;base64,d09GMgABAAAAACHgABEAAAAAXzQAACGCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGiIbgjQcEAZg
AIIeCBoJgnMRCAqBqkCBnC8BNgIkA4JwC4E6AAQgBYIaByAMchs9VlfE3XcqkLtVXcEgciGiCDaO
gBDM20dRHdlE/f//f0KCHCKrBLxAO3Xqv2TZscEOs2bPmnhOr45tcwxXh+d6zerZHc/1vt4kN9dC
QyCDq664CUZBgDSEjdqL0AhQLyOuxD1W/ignXOaRvb6KdtaJcdmsG+mqqf9JCram/icREyjssn3L
Di0gMdL1T0mwIIEk0WV/2sKBTEsSruIreYAuO/+yE11A+ZE87hEa+yTXh3DTf5cESwLtaGCQIBeo
WSpGt1Wg6syZm/Kd7aubE2haldZzEipM2P4zC4GxbJvcUWx3D/6rcNQuW1egBIOTqJcIicRjNIQI
u3DyVrsKP2yKcEBSoY3vAG0zGMbWYIOUzR2oIHnEjr47IgWjQWDViKtm1e7/Vxmy6HD7UkDRjeQt
BnU30XjSY7x/aK7d6q5u/uaQCmSzSAl4hfqqMrGladxhoeCQ5IDx7fCDVbkpum/6fKjTJDlZ7uwC
7n1aaQUgWUrq/ybsPo+A9iqthkAJnCciSMwxJCL1Xhcn+4lDWbrhSuMGBMF8/zb9HCePCAPEIRVn
oWLUhnnJMrV1A3BzwhQO6H5Jk2TwsZ/swdzCVv4tXBPb4AwiiicIK6ELPvvFhCtK/8XgtUuDV1YG
/t9caWcmu30TV2AFQJZcq07oGvOT7N7NZHOQI+KkiOpUAdAxgatwFcqeLgtTHv5/qQmz98/4WU7X
0RacgoCOks7CmMpYs+WPlVbbaFaOo3VaBQCH0FCuE7QFkKioM1gYkDo5tnINbCy1e6thnCDkV5Nl
q+h33z1UWkKOmYS9ySAAEQAADBajAdGoEaPJEAQB8HIFMVs7TV2wvD3MmQYZB5mjfLE4wby+zJoG
yzUKQFatcxhGxFFEHmK36tL9GPNMMsMqvAFq0hLzLKmseRuGgZcK8JeOWUlScNK2ZJAhm1GuEqJA
ympDlNVvK+FN4VHhDeE54ZGEj9iYhQmul9EAV4n7kOCvJyXK15xcL0qpt6VaLM3F0wvPcPPMiTyr
JOTUI3KJ52VcgAtxkc1kDrH7GBm5NJMddNTmpuwDNC6c3MqLTDy6XgHaGqDCdLV4APg7mO9Kb8zF
x18mXTfIf74AoBh4YzZJwiI/1bjg/QtQQyRh84VOk63UIIMtymjemh92NO56d7O7zd3rPuJeThPp
TLpc3aHO/Zv+H7VgapgqQ26dShFc2/tWqCEtFfoLJdSpuu9v/JlPZYKPDfDR7x+VP9r1gejJy/ff
fu/Ke5t0DQjxYmTLVeRBy/S13BMbUGaIUgN51BmkQqUqQSHVatVo1q5DrzBeHZsGrYCEqmKP/8z5
goQxkHkYg+ns/BZCtl3EyP8Txwh2bsCEvbvNioH0KQ1NDEbJyEEMTD8G0lWNY2L7tCbKJtV09PnD
dBMN14/ZRPV0QmRMlEvaSf41jN0UzqFRdJ5PvOTtOlejFWGlVGhsOFyWFQMnRuDYph5SQycJECZJ
jf+r8df1G8vussltfe190RVBJVoRDCuqSkPRB2x9YFpTD4dF7nqgEoUsneiAjA26vts0oxDWubCK
Fo3wx6ZKuF+NrjBjlbC/7FpRDA9s+0hgrfCKQWBWNikUIyvOprAVWVXW8A7r3oYVNRzMisHUb+zs
CwUVVQ1ngRgjrQcAGMpjQPOo6ZOKvyJ4JNGibvm8VI1g+nOxMv2f4PLlUjAyYTJQT41ZT6mi1oIw
Yy7sKk6bE0wmX5xZ5DNEziros2RJijM5HFZzttEel5Gc4BJtks3ms0lJgitNcoicaBe4FIcktZ5p
W44o98ugVg9ntwsCZyirFlhnaorVL8bLEpcremwWu1WUMqV42aD6rHNR/7OVJInOqORwFA+DEOJ6
kWkQAVXLn3P306vwuBde4c20pfkXyxsaR1CLxBf4DPtNd/LvK7wSHlWJL4IrnO/mrztS7BVxNf7V
V9NXI80JS5syu6TVh1J39fU9PDLwOYuYBJi5FCPApZbUTC48Ksji/6+Qt+B3GKSRWQamwMgdnnKy
nZOh6nFHPPeQB8MZXSxXoMqsracsksNsvUDX6SbbLLEO35H4PtZnoUYFbuwgDEVeosFAHdR/AIMZ
hSvX+DT0kcav0E1B9bqQDh5NVg6sclC13rNL72SsCsByVG6DdjOyz6bC3iueiphDQGywb4jRXnSJ
R0H2Km/Xvrq/hPjF7pKXLeMsV1b/uNAj/vdKzpd0z8jndHPLrQHn+mtvc3TB3EH6Y9MpYqYgbdIc
88w1BLP3Vo1S7CuV5A4OwxHM/nv13EPAaDyodQcbRQZOZ7eWpzJA3Sra9Qwe4jEZ51iJ5dbh1Vdf
fdAJotFlLpsSQ61Nccsg6qRAt4zNs2bpAjLpXhllXDlT6MwfatJ2Uk76qYlB69EibXv8FNQJ4MVR
lbw12swDJDI4kBfVl61FXkIvDOOFb5ZkIIc0ZkbphukawNUrd17HL9iIJ5Nv0acUcxpgYKqoc7LT
E0MyaNcA7wfzMHO0sKmZVilXWDnmri2p+T15iYMEGBhA8fo5gq7gIb7USkRRVO3RURfXZEm+b9rQ
0np5ap9/ndDOq0JQeN8Qh0sSA8MX9KWCnEoixpzkCjKobvb5J9+e8ypKRIQM8TByTxqRNMr4SpSY
r8DGy7GFDitL9JCcDk5Z43GIbnk5PBkz/XfeMO0tYu6Fqe7gGOZox6gU43DG6CK8jj0eLxHBQ5xH
RIR4i7KlnV0Ieudtdi91gpxeO5wkzWqXRnVz1eJrR61zoeX/UePnnDM5SJG4THfZz1Bu9nrptegJ
LnQW0cgM0deywwJdl46zzRIpMQMhYywPKxM/1BF1w0wiUTeVypH7wLMgomw2SQTxeBrjthwUjkYF
edKwlFd6gYOCloFahNfaa49h/A+RmDZIdFNIaIP8Z83wLvHl9Yc6JM2E1vP/tgvstT9e9g5L6/Kd
YIisLZ7Lry91IJ3FDQUcphmP8t0upmBlvoc/2TxNyJYy3yKfjLLP5yiuiwjq21wucnz0/Ot5amsl
M9wLD8DDLSJHM43JyJUT1gFvX+OB6n9yfnZ3DvGzzSmvxrE0JXjJswur69FGOp3CQNkjj+MiQwIE
qFkyyjlqkZsh3TVy5HfDtHpa9I6Lj6gcOdpRpJKB9xa5THAsYvL+3Mbb5zThF40zG/XlfbDGry9T
XFm9ul9U4XvywOPvXQzpo3N/mTe4pAefVcoyyEsejULmAqBAn1foTAQ9+6tWqu4RRQq/p3v0qLtG
Lq49sw7DfE4Gn5Br6udX/ftVJ7muhfU2XW9AXSNjcl2gCcqoEnxTYu+S2Qum0UVVGQuwQxlzxN4y
zF6SwcBN6qha3ldE/FJvJeiGkebVRH0i/pFijZ4nUXmHpP9+qBefhC1DZFqm94GjnALnoFrKR5mj
HHe/ojQ8dAJT6HwtnAchirq8zcytq7DgoQXvTXMac/FZW/ucTV2rgjrF9iP97lMKbQHKROGk+/HJ
mibyagCAXQJb7IA4zzqFJ9L35Vq9hgZN2pE12YwFZgDy7UslpK+ILJLu7bzJXJ/cV63nEuRNVns4
MfAOIyxLlWioqne9yxpCbSNjV07Y2p5XVYKeQyKR2yDMIk0IRxLX1sCF84q9/TIZEym/luxwc/Yr
b1//m6Oe54/Nuh9tK3fCfuPekvlsUH45gxfW9J80uCk1fNG0b+BPrVuZz0B3OdL5jEhCkY0yhxEC
ZXK7J+bf3ZhdLZM7YfMWhfGIpVjTHS7RWzXHxuZUL7HW2iZDo+slU+12yVRP/RSotXqhmatSFzgH
K1BFz3yzjdNXqeT0Ndt65iuMw1Ql0VQ5ioOBEM3jRZEa0TiTSTyhtna8uPn4ZOUh+QSO0czuqVCA
AZMpwFZMkT3fjI1pmY70x083PKDKmi9iw//tgfTQW3mbCuucJCc/XOUdJ26xh6ExPgiCWO+7cvzq
NFsBrCnX5WZrxxitip4FZhu7n1LJ6Wex9c6HxVVZOphT4Y4ywg6nNWLl7+C3RCzOMbLn7TMHmHdu
rOkuUsBW4/+2uEDvIbVsNK1PgX6EPGJFXPpefSqmDO7fp6x8wH7XTPIa8mXNo0+cG8gc2tR06dJa
OvPYuZER6zdS11i5I362p+aE4Vmq6mWq4USNZzC+kzOugPTN3CiPlPvuzRE1mPDJSbhcyy/TYrfn
iupl+CSC7ldUyAzYpFN9vqnSNltYSmA6bCscFqauzm5R5ve12noXwDCAoDJlrdXPamf2vHvRxDBT
tUb+lpQzlJIsc2FhllUJpRYl6/30Pxy1M8PVFiekxTJ142j+8DkjApQx/VoaQK0qbBZt9rXzS2jG
UI/bY/v8yvRI9Fkcos1Rd2w4V0P/P6bUlixjQR5ZTdBmLnoKeW9zZ5cQV+X9fGMs3TP2xo88QDZt
0odHjWQu4uwughVqjKIin8aSFra3DCmr45oSLnWZzQyNvhT+mgRboML4itn8M75sd7/25vauUXU9
5RXpX9X7T/RqxmInWyfHYepw87a+g4f7/XjM+m6zHtAAfc3mPqBW0xc0m8G+mgNrBtdIXvKmR/bt
6BY02zjN7l07lSpWQEtods68MO2f8cN7hkYEydPnP+6af/aPjoHpvXoNb+gwfOZ529PmigXnpsf5
Q4FAyB33x4LHyxtxwJxu5d4lZyPjttx/td37R3e90HTWk1ge07lELzOIte+u+ZrOXKM8j02OjX2p
w7Wms0ZGF8rJqsn3b7a86dT57053Xp2e+KA8+VRngGms3So+RRCLUslKIZWP5hnrtol3EcQ55DE+
F2Z8djblUWrqo5Tj6dxB+Q8CPChaB0BKn6Azzo62oTh7Z59ACdUBKAp4jBKQjrkQOgiWBjoaBoKa
rrJaFx2LTgttY48rgiVSjHhAUNlbBKsDIDggoOLsSAQj3OxAR7QIDWDGdIHOAMfWtHSkQzSUNiYz
ONJkgTyq/L0QVIHAPAcQ2qBmt4RKeQKWnp5DQ0GQhuToaSyoSmKLpn5zUAPo0iEYywNB1QNBy3ss
gQNFbCYWudaG9oEf36Gq5vceZ6ZU6mUhCMsrk+V59YYaQCKuYmnQXI8svhOnY2PZ/+VryHns+/Cg
3zGLEu/5+DYn5+//P2Y9v9S6Vr32cMPhIeohKperypQWuNlyduuEM6vWxmeD0AhKGxYEXRg+FWdD
rkOsalQdyIb59qTL3eYy2o4M1yawC03kUTQVwGIH7DYyLBtfhjvvhoiBNNcFSLgmeinVVsQz5GIW
tyZz0qJxzOsuX8qRZNvllJTLycmPoIChzTC31FPlyhm90nV83vDpixKlM6t2rZUrnIPrsjvl/s6n
Gp42RnGGiGH951v+mLfEJF8jr3l0NxQFW3GazIoCSFEmWDZzjBAuNNF70KxcgQFArU6NxuHQFBpy
MbNLw3TWD6JLDW3RbsFWzR43CBWa6CVUaxEfG3Htzlgm19B2m9ImBb0Y5gWkUi9AFPSaVEOMELvv
Sm+HZldKRIcGW3F2qt/fGLACyF+/M3Y4YtVhumE5aXTQF/PwtLJQjwwO9DDW7nizCCwui4sIKt0+
wVac8jsGckmr55xe7Q066k6nynQ2HdvQdk0wgNlb6snI1ycw3o9fvCtfGGQs12LZR0ubFP8rWOr/
VJDAoF3KmOygau3lMcpK1MzRJU2/6jnRpXXAMsOy8VXjDzccHuD91irgMu0HHMwinoN5gNnOFRhz
sysagxkZwV4V2bkrCK32/m19gxuf/Pjx5dCkYYParK9bTVpCq7UuYRiuPugfFqzHDfMkGOsSh+GK
R9UaBuMjTAdaG+MN8PUNwSDcKy1voqER93B/7WcN4t684nq9ToctW3Glzl3V3PIgvsbuPXpyNhQU
YMtOHrXXG6ccGXz8yb/2/m1VQy9Ffv58emlY5aA2G3wIkDW3W9qNIOgRYsJXMPWqukl75+/vwwlC
0XLiC7nkD5qtr+aMDRX8qkmjIuWsP9GRvpKTVDtCDvUqmce73ecr2ls2v7EXkka1X/eXGEax/qpe
IWvpL8Mof8l1lhaCMEigghTkLFQQeXdO+krQkaw/qzMAvOubq8Oh7IbsYyUu9zeWbPZTdx1C/yPg
uWTwLfY2zd739RdaWhYaQbX6jl0SS6f0f1KmLtIDT8hF/6WUAxl1Y21MY4W5E0IwxxL0OSpl0ut/
XhlIANeRdjLDyOfREaEOrB+hBV8dydDhd6L/Nm5Wf364ieFTdeH+BsB7mapu2VwVifn1FKdnZVb2
sj8X09OhRW+rkNjeW86ZEsB8W/KjLD1PLVPvmHv4268dYv1iwKIrqkgrKnAmqdmgzhqdTCOhK+jV
EqTkEHqoMaR3MYuHJU5GF6E7gT66I8XW1CQgMVoc2kmXLuV16rtkgrODUZzrdPFmbG/r9uhPRktl
lcVeUWXPd+eU2QomjavT0P7T3XLl8ITF2TIVs1Qgyi5Vdi/LEBY4kzUctt52ZloocWlNtlxUzDjE
6BJIMitgVXkWpK/mQyVpAxUF7T3J1bnFT1w5Ume15k91jkLF5UMYj2Mh1dA2aPPub02pyEWdLmOO
MunOxtzkFOXW+9E5G5euLgUDHJpejVLYbJSipuk5fBC7uXr1nWUjlYIM800HuYhXTD6daRbA8rq1
xMNwlUQu00hguV4uliByejhn7splqjpr5dwco1ur15do2zpKOmD1ekUfyjhZgDJOMaVej3FNmQeB
pv1rTFYWq4N1zf60poOmTC4mQmRgGcnPZpP8YBkiE4lRGVhK9HPYxABYisqic1WMhfqF3YZuj5gp
g/J0TpVBo8AM5MBTX0fqsVynbO25cPtDwOetTLVNoXPIrJpEf+HizvQfLPqyi//9pZMlBZNeU9ev
6tDcjP/vVPqwzbCj/VTcUzGCwaEM+tBQA4PyDOfydLmrKDc7N5fAyuPnJkSmdN2Lv9EOmpm5WuwN
TG1gMoMNAWZ6Ao9Jk4hmJv60oTAhuTB8PRFEwOTu4Rfni3uqFKoKVYVJYfpPJcGfioHHdlmUVCZF
RJukZxnGLNoE2mW4inaXEPPqhEGviSRIJ+AxF2/YQOnkDftpppYjrMafzacDblbii3ChRPl5mxQz
zI8P7yryNiyZ5KGBpoYMSoYyLNolunum9cPF9IQk+uKniSwRGxRt5F7d+BbI1PtddAbfLWRyej/e
kvF62aP01KnXl1njMtMbp7Fa3XJIntZP42MkUn7z1pEqJ6pUO2O7fUvOosaluCH3C6VpR4vfkLby
TdeXc+bUodwMSsaUpg3UO3nJBlVm8ihSQmZw4XznuSRv6EZiwrUQIykRXvLNCgQ2drrZ1deV6OtK
8pO6ukPydHma8ybRRyL6iMQAkeRXTCBW1iu1Hbu8zZLGd3CoCjjsws6CcJwWn9gOvj3A55g76cCh
jmHBBhjAe9vBc2EHeWr3uNbGJDLhVsqgdOrJ713S18LlWOVJpt4x7rPFy72/XWfk9QOrEzaWE4Vh
i4GKuuKzFccpWVUmKacrquKD99Tdc3fd3Rl4gyXxAkI5Pp/9Ii4i48TK6/fMYN4dAxliEDqPgR0p
N8ASVsJ1QuoQOqIjum9yExKA7d2EBcHOWGc8iMsTRVqPjRRS0EmqvM2QVOyAnkfLGccyCWRLtibw
SOJb/c9J3wd/ui91zL0x6hwkqSQlJHW6Pt0E3QLdBt0B3QVdTPeEznzhA3ZjAP15pPAo5lELesF4
MB+sB/vBeXAXeByY7wff4DPA3P6UEb83esrOKZlTEacaqocaR82j1lH7qHPUndRjVBr/yvhTyBO+
n4cIEbJ1ImE/iPwPq1Srruv44N/VV642khsVVDwNk0rVC5tooY0OuuiGJ8e127sprStuSzRMqZQF
rZvp0+mmT4+dTKNsopnMy+ZvFsYoFApjjDHGWGFKOQxJkiQZhmEYhmHEMMpx3Jk5iqKcc8455+H8
FnoSJh86x2iqZS3Sq3CbcE5oav5TxZH0pvVWvTcfH1Y/v6XVl2lOc2vVBSttyk1mS2OMMcYYY4xx
MMazIU2WqE7T8JRW515FSRttZSP8NHxlxlZ9Idqw037LXHXtIFwhGrrSWtrbz+tpGV7SO7/B3pDt
0eJWMNAKKDsUJ0KdSLL4jBBCCCGEEEJCCJlcNiVXA1anj+gSQofSv0pVMEXVWh8km4Pyxx2eUvps
LxfU9pGHrrvNa0pSpzhKpZRSSimllNJQWqhUhogQQgghhBBCCDHTVEDMvDwEAAAAAAACKwOCJzgY
SBV1VpFjOpfnkiwAAAAAEGCbMkWSJEmSdCa92jFubyZThiRJkiTJR9Gz5u3uuSJHK+/7xQxMZmZm
ZmZmMbNOu++26iXfS/fE9aU//z/MzhJJkiRJhix0yxRJkiRJklbwrW2I6JmGOP7b38aB84KVs3EB
JQAAAAAQAC/oKW4B2U2mnAfhEUsIrIyuYV/DUNIJOaXX4df0F39br4s88L+jpdX6lUDPuqVHeuxP
T6twh6QhlYAAAAAAAABAgXv2xZHcf2rUoUw1QUREREREDCJOI9S4eqx7Rqp0OL8O6OpJWABZAAAA
AACAAEB3RHBoDeDr52k4OLzTqTyd3n8w07HmcvB+hoOGTkREREREFKKFYklZKkoppZRSSimlyvLH
8Tcx2T7tdyMCO997zsgGC2oWmbEBERERERExiKOZ5nPMHtOhbTq2rShRTcMNC9qam+Fgot+c13m0
3rZam0w/5eI7h5mZmZmZmQuzPRp+eYg7uiQ85DK6aX+6/u3VgcaN2laKeMPSxtSMBxP95rzOs6tD
MM2dgeneeeNoJjta/JGYDTH+6jb3uFimkilEZ3av/+VZOcVsgTIzMzMzM4e5sChbR2uttdZaa611
6tfU5NHsGT3ecyi+SxQsNW0JbOrWuNdY2vWu9bqdHnMljzYfz67re61nhmn7JsLd9pRu4qYV5Epj
jDHGGGOMsTDGnuKyWzdlSimllFJKKWWklJUEck2silJKKaWUUkqpM2UqO/68HvwLnsOvXs21HH9C
CCGEEEIIESGK6G3abDq/56I4fNBnnUVaT/6pK5ZOteax5hG9KYuwSAghhBBCCCGElGKH7QDotcGp
D7t3uXv/HVhC8zpJh9ou+Mgwx4KznBucCRkhhBBCCCGEghB6LwuIpNBbZN2S6qSLv71A4OPA9EA1
oZyqLuecc84555yHc14PbwYFYCCEEEIIIYQQwiPq5tzi7FMqxqlc9yGh27Rqy9jYHtJUZS0HoAPf
U5/Knf1Qq3/Q8oXriHZ2qPvZYvi0t+90ckA/NtJUl4RyktE0MIiIiIiIiIiP8u6u++VrTIMn9Qfj
U5RzmT7JsS/Vl+cqokiLcyxks71N3ONAHecQJcfwRIQQQgghhBBCHAjT3zq5ueHXhvXYDe/rdIhj
nu6ieUh4jrNf79u/G5D8HOetd4ucYUVKKaWUUkopI6XcTzVqe+Anlq72cWx0tSlFISIiIiIiIqox
7nSelVJKKaWUUipKqd2WyXp3zOZvT9rYn02z+cIgIiIiIiJiQXSo3yvxrjSeeyRiH2RB7EJuT6xd
NkTa59F6K7uGSNvdoqLVYTPV2bPVmpmZmZmZOcy30Gl36B3+TbnI8xquozpU0Dpvl1n6OBhjjDHG
GGOMMzOGgVCyVCW7c+PrKPn5n9o6qM1S8lOLe8fYmzXPOc42mEpY4Q7L4WQa89iyyoxSSimllFJK
QyndLQHa3Q/Lt94/bxA8BBdfR35GUru0uq9dpMP/8YAS5yNpNHVZ0L701P3qGMqmt/PLt/u3yQtc
ZX3ypOM0fQT15aMjb+PJDVwAAQAAAACg7vzosDwJG5MCAAAAgADYbd3LPiwV7PpV/IuDX1vkgClX
tO7NX5+TiZobrMBj2tmjJ2FmJIOLyTSKdDg61LmqlWbrGoeZmZmZmZm5GuG7v4tfXPuEaq48m2oK
ERERERER0VTJJph2PqtKVw7z1Ifu+RZfgyU/fcUnfH3w6Uzna8iQmnNzgk1dbOzl5IMgXggAAAAA
AMCH4skumA0CAAAAADgDh77hhMt5n9cth5mZmZmZmXmF9TGtRUF1is/m6f7BUV72xULH3/bB6mZt
HqGy0e53GF2VY5t9/06WpWPvUAqfMfW/xiS0IcoxncLjP6IQERERERHReok6TbOT5Ixz8TdzFFIi
IiIiIiIiixCbsqqqqqqqqlEtC2UYLoukSZIkSTIk2ywWAQAAAAAUwAf3/Ira+bRxX2d1/DUefxU7
9aL8UM/pwax5lyAAAAAAgALfUpIkSZIMyVk1wP0GR8/ftzObIjMzMzMzs5jZe7ncJoV8TZQiSZIk
SdLUh/Rzpl5gKufmPjlDZkqYVIArx/lJRERERERERFZZoZ1IbEwN7TxaNw+3Mw+gMsHmVHDt58tc
UVgGpOqz5q2gj83uu8d3V5z1ZD3RoaqqqqqqalRHN41DjbRzN4lJG2YentOzfD61dnXZDS0kfjy1
vFyPHhtAyvs5xbOGaeSC3GcVLil6yCadwQU/sWV2DKuszJYtuJcXumCD8yzIcAzfh+8lAAAAAAAA
AgD1Qw/MfpDEDSyk6872bDdzyS+rOGwlqEqVeTjnnHPOOeecF861xbTmYfoMfWpQXaxXnNVZ43oY
C17XWWGZgmZVkiVkISrTYRe7wWyXu0GvZV0fbNPCk+nAsYPBsN67WMP/yh3W1U+LAMX8xMaHcg06
emrvyJsH93L2kuWTZ3PHvjkr0fmSc8RVp+1Q/dSnqxkUy5MPJ7Eo9dcGRW9NHENpGQWo6HF1uPdo
VT7ssVt3SWZ3j/mYd/gzPgHdKMvUXwFeASsrnoznxp9KGbJmTVA0Go1Go9FoNBqNFhqN9nU1zSZh
3MVMPGblKUwLq/2fJjbKMXMEtUI2ip7/Kv2oNlIz4DmyX4Uhz73jmDALofpyj+77s6ovsD/k/f7p
mPoypQb5E+VAISPfr8/S9Kv+2WNucd+Qjc8gxn+GgHv5VrkmrvzXorBfAPDeGMP7AHwy8sWD/++o
BIzsYoAeAwAI/G0iRW/VIPpOuRoeQUP99UNASbsF5geXg5XnK9R8nfgAIJ/eeIfoceoJPd6VoPF6
/O+WSMyvG5ZAzXockNn3PA3WXKJfPimQN3GtGVzeB8w7rWkL1ScYkBMpSNIyFUqx9QCUWMKybh80
1yS6XjvinUViXrOd1uydQ9lkMhrtGeIIS/TlI1WRky5wTRG4dADMErj4iBIimuN+HM5OS/MFX/M2
X7ggx1NKM6Iqe+XlRJ64TMphgl1TlgUVpOZ0efGL5MUtxvRMhyUiHDGdOxhIkQJXbJEdXfTRzuUX
GRM4LCW6A4kS9DOGPT4nRyakLEc3AhiqGqsUgwAAHhhMC4IA9FqwSGsCEQ/FpgyL+KasLp6mHGpW
Ux3ZriPXo65oFjHNGBFzTDdLh7HGm2uKyIp7tj3LbBNNNw2lyZb7xAFT1mFl7RMC8uSC5xlJNZoU
V02ZMB14lQOnzov16Nf/bnnKpwTCaOwvvn8zjcrl8JEAxp7DKaeGoTslmtd9P5jQ43Wct0DdUgn8
QI4hOm1/MQk=);
}
* {
    font-family: 'Mandator', sans-serif;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    color: white;
}
body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow-x: hidden;
}
nav {
    position: fixed;
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    z-index: 1;
    cursor: auto;
    background: var(--background-color);
}

nav .nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#nav-mobile-section {
    display: flex;
    flex-basis: calc(100% * (2 / 3));
    z-index: 2;
    position: relative;
}

#nav-toggle-button {
    align-items: center;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--border-color);
    color: white;
    cursor: pointer;
    display: none;
    gap: 0.8rem;
    height: 100%;
    justify-content: center;
    outline: none;
    padding: 0rem 3rem;
    position: relative;
    z-index: 3;
}

#nav-toggle-button:hover, #nav-toggle-button:hover>span {
    color: var(--highlight-color);
}

#nav-toggle-button>span, #nav-toggle-button>i {
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
}

#nav-social-section, #nav-contact-section {
    flex-grow: 1;
}

#nav-logo-section {
    flex-basis: calc(100% * (1 / 3));
    justify-content: flex-start;
}

#nav-logo-section>a>i {
    font-size: 2.5rem;
}
#nav-logo-section>#toggle{
    width: 100px;
    height: 30px;
    background-color: #2c3a47;
}
#nav-link-section {
    flex-basis: 100%;
    gap: 6rem;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    justify-content: flex-end;
}

#nav-social-section {
    gap: 3rem;
}
@media(max-width: 1200px) {
    #nav-mobile-section {
        flex-basis: calc(100% * 0.75);
    }

    #nav-logo-section {
        flex-basis: calc(100% * 0.5);
    }

    #nav-link-section {
        flex-basis: calc(100% / 3);
        gap: 3rem;
    }
}
@media(max-width: 800px) {
    
    nav {
        justify-content: space-between;
    }

    nav[data-toggled="true"]>#nav-mobile-section {
        transform: translateY(0%);
    }

    nav[data-toggled="true"]>#nav-toggle-button {
        border-left: none;
    }

    nav[data-transitionable="true"]>#nav-mobile-section {
        transition: transform 400ms ease;
    }

    nav .nav-section {
        border-left: none;
        padding: 1.5rem 1rem;
        flex-basis: calc(100% * 0.3);
    }

    #nav-logo-section>a>i {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    #nav-mobile-section {
        background-color: var(--background-color);
        flex-direction: column;
        position: relative;
    }

    #nav-toggle-button {
        display: flex;
    }

    #nav-link-section {
        display: flex;
        flex-direction: row;
        font-size: 0.5rem;
        justify-content: flex-end;
    }

    #nav-link-section>a {
        font-size: 1rem;
    }

    #nav-social-section>a {
        font-size: 1rem;
    }

    #nav-contact-section {
        padding-bottom: 4rem;
    }
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 10px;
}