#main {
  padding-top: 50px; /* Aby nezačínalo pod navigací */
  padding-inline: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 stejně široké sloupce */
  gap: 50px; /* mezera mezi obrázky */
  padding-bottom: 50px;
}
project{
    position: relative;
    display: block;
    width: 422px;
    padding-bottom: 60px;
}
.grid img {
  width: 100%;
  height: auto;        /* zachová poměr stran */
  display: block;      /* odstraní bílé mezery pod obrázky */
  object-fit: cover;   /* přizpůsobí se rámečku, můžeš vypnout */
  padding-bottom: 30px;
}

@media(max-width: 800px) {
    .grid{
        grid-template-columns: repeat(2, 1fr); /* 3 stejně široké sloupce */
        gap: 0;
    }
    project{
      width: 100%;
    }
}
@media(max-width: 450px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
    project{
      width: 100%;
    }
}