#main{
    margin-top: 40px;
    margin-bottom: 40px;
}

.container{
    display: flex;
    margin-left: 100px;
    width: 80%;
    margin-top: 200px;
    flex-direction: column;
}
span{
    font-size: 1.5rem;
}

.nav {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    background-color: rgba(150, 150, 150, .3);
    width: 20px;
    height: 20px;
    z-index: 2;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    color: white;
    user-select: none;
}